<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valejur</title>
</head>

<body>
    <main>
        <section class="banner">
            <h1> Excelência Jurídica para Soluções Inteligentes. </h1>
            <p> Lorem ipsum dolor sit amet. Qui cupiditate quia qui error dolor ut autem quia qui unde autem aut dolor dicta
                et magni neque. Et accusantium aut. </p>
            <div class="botoes-banner">
                <button class="contato">Entre em contato</button>
                </button>
                <button class="servicos">Conheça nossos serviços</button>
            </div>
        </section>
    </main>
</body>